*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.restaurantCard{
    border: 2px solid black;
    width: 250px;
    margin: 10px;
    padding: 10px;
}
.restaurantCard > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}